body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
    padding-top: 10px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(Images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(Images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-title{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    box-shadow: 10px 10px 50px gray;
    border-radius: 5px;
}
.experience-area{
    background-image: url(Images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#tribal-chief{
    border-left: 8px solid;
    border-image: linear-gradient(tomato, orange);
    border-image-slice: 1;
}
#big-dog{
    border-left: 8px solid;
    border-image: linear-gradient(blue, rgb(121, 121, 219));
    border-image-slice: 1;
}
footer p{
    text-align: center;
    color: rgb(63, 61, 61);
}